@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gudea:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Benne&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	width:auto;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
    background-color:#f7f7f7 !important;

}

h2{
  font-family: 'Benne', serif;
  font-family: 'Martel Sans', sans-serif;
  font-weight: 600;
  color:#0c2d1c;

}

.newsDate {
  font-size: 12px;

}

.newsItemHeading {
  font-size: 16px
}

.newsMainContent {
  font-size: 12px
}

body::-webkit-scrollbar {
    width: .75em;
    border-radius: 8px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 8px;
}

a {
  color:#004869;
}





#newsContainer::-webkit-scrollbar {
    width: .75em;
    border-radius: 8px;
}
 
#newsContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
}
 
#newsContainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 8px;
}

.page-container {
    width: inherit;
    max-width: 100%;
    margin: auto;
    
    



}

#gibbsLogo{
  max-height:100px;
  padding-left:10px;

  
  
}

#navPills li{
  padding:6px 6px 6px 6px !important;
  font-size: 14px !important;
}

#aboutPill {
  font-size: 14px !important;
}


#nav-pills ul{

  padding:16px 16px 16px 6px !important
}


.col-lg-4.col-md-6.p-4{
  overflow:hidden !important
}

.img-holder {
  max-width: 190px;
  max-height: 190px;
  overflow: hidden !important;
  border-radius:0%;
  margin:0 auto

}

.news-img-holder {

  overflow: hidden;
  margin:0 auto

}

.bio-holder {
  padding-top:10px;

}

.news-blurb p{
    color:#707070 !important;
}

.news-blurb-date span{

}

#lark-headshot{
  width:100% !important;

  pointer-events:none !important;
}

.bio-title{
  margin-bottom:0px;
  font-weight:500;
  font-size:18px;
  color:#004869;
}

.bio-contact-info{
color:red;
}

.mb-0 {
  color:#004869;
}
 
.img-holder {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

} 

.img-fluid.d-block.mx-auto:hover{
        -webkit-transform: scale(1.1);
        -webkit-transition: all 0.125s ease-in-out 0s;
        -moz-transition: all 0.125s ease-in-out 0s;
        -ms-transition: all 0.125s ease-in-out 0s;
        -o-transition: all 0.125s ease-in-out 0s;
        transition: all 0.125s ease-in-out 0s;
    }

.img-fluid.d-block.mb-3.mx-auto:focus{
        -webkit-transform: scale(1.1);
        -webkit-transition: all 0.125s ease-in-out 0s;
        -moz-transition: all 0.125s ease-in-out 0s;
        -ms-transition: all 0.125s ease-in-out 0s;
        -o-transition: all 0.125s ease-in-out 0s;
        transition: all 0.125s ease-in-out 0s;
    }

  

.img-fluid.d-block.mb-3.mx-auto{

    }

.d-block.w-100.news-image:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    transition: all 0.125s ease-in-out 0s;
}

.img-fluid.d-block.mb-3.mx-auto.rounded-circle{
  padding-bottom:0px;
}


#chk1{
  background-color:red;
}

#searchBars, #filterButtons{
  padding-top:20px;
}

#filterHeading{
  padding-top:0px;
}

#myInput, #myInput_year{
  max-height:60%;
}

.btn {
  background-color:#f7f7f7 !important;
  color:#0c2d1c;
  border:none;
}

.btn.active{
 background-color:#0c2d1c !important;
  color:#f7f7f7 !important;
  box-shadow:none !important;
}

.btn:hover{
  background-color:#0c2d1c !important;
  color:#f7f7f7 !important;
  box-shadow:none !important;
}

.btn:focus{
  background-color:#0c2d1c !important;
  color:#f7f7f7 !important;
  box-shadow:none !important;

}

.avatar.mx-auto{

}

img.rounded-circle.z-depth-1 {
  max-height:200px;
}

 .people_name {

  color:#0c2d1c !important
 }


.card{
  box-shadow:0rem 0rem 0.5rem 0rem rgb(0 0 0 / 10%);
  background: #fff;
  border:0 !important;

}

.card:hover{box-shadow:0rem 0.0625rem 0.5rem 0rem rgba(0,0,0,0.8);
            transition: box-shadow 0.3s ease-in-out;
          }


.col-md-6.px-3.py-3{

}

#first {
  
}

#second {
  
 
}

.navbar {
    background-color:#f7f7f7 !important;
    
    padding-bottom:10px;
    border-bottom:1px solid #E6E7E8;
    -webkit-box-shadow: 0px 1px 2px rgba(159,159,155,0.4)

}


#toggle{
    background-color:none;
    color:black;
}

.navbar-toggler-icon  {
border-color:red!important;
color:red !important
}

.navbar-toggler{
  color:red;
}



.navbar.toggler.collapsed .page-container{
    background-color: blue
    
}



.container-fluid {
	background:#373737

}

.container{
    padding-right:10px;
    padding-left:10px;
    padding-top:40px;
    padding-bottom:20px;
    margin-right:auto;
    margin-left:auto;

}

#carouselContainer{
  

}

#carouselRow{
  

}

.carousel {
opacity:.8;
}

/*  THIS WILL RESIZE THE CAROUSEL
.carousel-inner{
  width:100%;
  max-height: 300px !important;
}
*/

.carousel-caption{
    position: relative;
    left: 0;
    top: 0;
    background-color: black;
    opacity:.8;
    color:white !important;
    height:125px;
}

.carousel-item img{
width:100% !important;


} 

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 28px;
  width: 28px;
  outline: black;
  background-size: 100%, 100%;
  border: 5px solid black;
  background-color: black

}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity ease-out .7s;

}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.carousel-indicators > li {
    width: 10px;
  height: 10px;
  border-radius: 50%;
}



.carousel-item img{
   
   
}

#applegate{

}

.nav-item{
    text-align: right;
    padding:0px 10px 0px 10px

}

.nav-link{
    text-align:left;
    font-size:14px;
    color:#0c2d1c !important;
    
}





.nav-link:active { 
   
}

p {
	margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: 0.01em;	
    color:#403F3F;
}

a {
	
}

b {
  font-weight: 700;

}

.media-item {
  color: #004869
}

.aboutHeading {
  color:#004869
}

.bioName  {
   color: #030b07;
   font-size: 48px !important

}

.bioName {
   
}

.email{
  font-weight:700;
  color:#004869
}



.col-lg-4.col-md-6.p-4 {
  padding-bottom:50px !important
}


.col-md-8 {
  padding-top:40px;
 padding-right: 45px;
 padding-left: 15px;
}


.col-md-4 {
  padding-top:40px;
padding-right: 15px;
padding-left: 15px;

}


a:hover, a:active {
	text-decoration:none;
	color: #333;
}

.img {
    position: relative;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;

}

.overview {
	padding-top: 50px;
    margin-right: 0%!important;
    margin-left: 0%!important;
}

a div.col-md-4.col-sm-6 p, a div.col-md-4.col-sm-6 h3{
    
  
}

h5{
     color:white !important;
}



#newsContainer {
    height:400px;
    overflow-y: scroll;
    border-width:0px;


   
}

#inTheNewsHeading{
  /* padding: .75rem 1.25rem; */
  
}


.list-group{
    float:center;

    

}

.list-group-item{
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:none;
    background-color:#f7f7f7;
    padding: 10px 30px 10px 0px !important
   



}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myInput_year {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: separate; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 0px solid #ddd; /* Add a grey border */
  font-size: 16px; /* Increase font-size */
  border-spacing:0 .7em 
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */

}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 0px solid #ddd;
  background-color: rgba(12,45,28,0.03);

}

#myTable th {
  /* Add a bottom border to all table rows */

  background-color: #F7F7F7 !important

}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: rgba(12,45,28,.1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 575px) {
  #lark-headshot{
  padding-bottom:10px;
}

@media (max-width: 992px) {

.bio-contact-info {
  font-size:18px !important
}




 .people_name {
  font-size:20px !important;
  color:black !important
 }

 .mb-0 {
   font-size:14px !important;
 }

  .container{
    
  }

  #about span{ 
    color:#f7f7f7 !important;
    background-color:#0c2d1c;
    border-radius:8px;
    padding:6px 6px 6px 6px;
}



#people span{ 
    color:#f7f7f7 !important;
    background-color:#0c2d1c;
    border-radius:8px;
    padding:6px 6px 6px 6px;
}

#publications span{ 
    color:#f7f7f7 !important;
    background-color:#0c2d1c;
    border-radius:8px;
    padding:6px 6px 6px 6px;
}




    .page-container{
        padding-top:0vh;
        padding-left:3vh;
        padding-right:3vh;
    }

    .nav-link:hover span{ 

    color:#f7f7f7 !important;
    background-color:#0c2d1c;
    border-radius:8px;
    padding:6px 6px 6px 6px;

    }

    .nav-link span{ 

    padding-left:6px 

    }
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
}

@media (min-width: 992px) {

#about { 
    color:#f7f7f7 !important;
    background-color:#0c2d1c;
    border-radius:8px;
}

#people { 
    color:#f7f7f7 !important;
    background-color:#0c2d1c;
    border-radius:8px;
}

#publications { 
    color:#f7f7f7 !important;
    background-color:#0c2d1c;
    border-radius:8px;
}






.nav-link:hover { 
    color:#f7f7f7 !important;
    background-color:#0c2d1c;
    border-radius:8px;
   

}
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
}


@media (max-width:767px) {
 .nav-pills {
   float: left !important;
 }
} 



@media only screen and (max-width: 768px) {
    #second {
        order: 2;
    }

    #first {
        order: 1;
    }
   
}



