@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

body {
	width:auto;
	letter-spacing: 1px;
	font-family:'Gudea', sans-serif
	font-size:16px;
}

.page-container {
    width: inherit;
    max-width: 100%;
    margin: auto;
    background-color: #FFF;

    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.3);
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}


.navbar {
	background:#373737

}

.container-fluid {
	background:#373737

}

p {
	margin-bottom: 20px;
    font-family: 'Gudea', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: 0.05em;	
    color:#666666;
}

a {
	color:#6c936c;
}

a:hover, a:active {
	text-decoration:none;
	color: #333;
}

.img {
    position: relative;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
}

.overview {
	padding-top: 50px;
    margin-right: 0%!important;
    margin-left: 0%!important;
}

a div.col-md-4.col-sm-6 p, a div.col-md-4.col-sm-6 h3{
    padding-left: 25px;
    color: #b70101;
  
}

#newsContainer {
    height:400px;
    overflow: scroll;
}